* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

body {
  font-size: 100%;
  background-color: black;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.visor {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.panico {
  background-color: rgb(47, 69, 99);
}

.jugador,
.blanco,
.azul,
.amarillo,
.rosa,
.rojo,
.bala,
.bomba,
.escudo,
.recarga,
.ascenso,
.potencia,
.dinero,
.poder,
.epilogo {
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.jugador {
  background-image: url("../images/nave.png");
}

.poder {
  background-image: url("../images/mejora.png");
}

.epilogo {
  background-image: url("../images/roto.png");
}

.blanco {
  background-image: url("../images/blanco.png");
}

.azul {
  background-image: url("../images/azul.png");
}

.amarillo {
  background-image: url("../images/amarillo.png");
}

.rosa {
  background-image: url("../images/rosa.png");
}

.rojo {
  background-image: url("../images/rojo.png");
}

.bala {
  background-image: url("../images/disparo.png");
}

.bomba {
  background-image: url("../images/bomba.png");
}

.escudo {
  background-image: url("../images/E.png");
}

.recarga {
  background-image: url("../images/R.png");
}

.ascenso {
  background-image: url("../images/A.png");
}

.potencia {
  background-image: url("../images/P.png");
}
.dinero {
  background-image: url("../images/D.png");
}

.puntero {
  text-align: center;
  background-color: purple;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: 3px solid white;
}
