* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

body {
  font-size: 100%;
  background-color: black;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.visor {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.jugador,
.blanco,
.azul,
.amarillo,
.rosa,
.rojo,
.bala,.bomba {
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.jugador {
  background-image: url("../images/nave.png");
}

.blanco {
  background-image: url("../images/blanco.png");
}

.azul {
  background-image: url("../images/azul.png");
}

.amarillo {
  background-image: url("../images/amarillo.png");
}

.rosa {
  background-image: url("../images/rosa.png");
}

.rojo {
  background-image: url("../images/rojo.png");
}

.bala {
  background-image: url("../images/disparo.png");
}

.bomba {
  background-image: url("../images/bomba.png");
}

.puntero{
  background-color: purple;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: 3px solid white;
}